<!--
  This template loads for the 'driver' state (app.js)
  driver is a $cope variable in DriverCtrl (controllers.js)
  DriverCtrl pull data from Drivers service (services.js)
-->
<ion-view view-title="Driver found">
  <ion-content scroll="false">
    <div class="driver-top finding-bg dark text-center">
      <h4>Pronto! Encontramos um motorista</h4>
    </div>

    <div class="driver-info rlt text-center">

      <div class="driver-picture padding-bottom">

        <img class="circle" src="img/thumb/adam.jpg" alt=""/>
      </div>

      <h5 class="no-margin">Oi, meu nome é</h5>
      <h3 class="no-margin balanced">{{ driver.name }}</h3>
      <h5 class="no-margin">e eu estou à {{ driver.distance }}km de você</h5>

      <div class="driver-plate row">

        <div class="col">
          <div class="text-hint">Placa</div>
          <strong>{{ driver.plate }}</strong>
        </div>

        <div class="col veiculo">
          <div class="text-hint">Veículo</div>
          <strong>{{ driver.brand }}</strong>
        </div>
      </div>
      <h5 class="padding dark">Espere em uma via pública para que o motorista possa te encontrar.</h5>

      <div class="driver-opt">
        <div class="button button-balanced button-block" ng-click="track()">AVANÇAR</div>
        <div class="button button-clear button-block" ng-click="cancel()">CANCELAR</div>
      </div>
    </div>

  </ion-content>
</ion-view>
