<!--
  This template loads for the 'history' state (app.js)
  Show list of completed trips
  records is a $scope variable in HistoryCtrl (controllers.js)
  HistoryCtrl pull data from Trips service (services.js)
-->
<ion-view view-title="Minhas viagens">
  <ion-content>
    <ion-list>
      <ion-item class="item-icon-right" ng-repeat="record in records">
        <div>
          <div class="bold">{{ record.time | datetime}}</div>
          <div>Origem: {{ record.from }}</div>
          <div>Destino: {{ record.to }}</div>
        </div>
       
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
