<ion-view view-title="Login" hide-nav-bar="true" class="login-bg">
  <ion-content class="login-bg">

    <div class="login-content" ng-class="{'slide-in-up' : !exibeLogin}">

      <div class="light-bg">

        <!-- Logo -->
        <div class="padding text-center">
          <div class="logo light-bg">
              <img width="100%" src="img/logo.png"/>
          </div>

          <p class="dark bold">Seu taxi prático</p>
        </div>

        <!-- Login form -->
        <div class="list padding">
          <label class="item item-input">
            <i class="ion-ios-email-outline light icon-label"></i>
            <input type="email" placeholder="Email/Celular">
          </label>
          <label class="item item-input">
            <i class="ion-ios-locked-outline light icon-label"></i>
            <input type="text" placeholder="Código">
          </label>
          <label class="dark bold" ng-if="error">Não recebeu o código? <a href="" class="balanced">Clique aqui</a></label>
        </div>
        <div class="padding">
          <button class="button button-block button-balanced" ng-click="login()">
            Entrar
          </button>
        </div>

      </div>

      <div class="padding"></div>

      <!-- Other links -->
      <div class="row">

       
        <div class="col text-right">
          <a ui-sref="register" class="light">Quero me <span class="balanced">Cadastrar</span></a>
        </div>

      </div>

    </div>

  </ion-content>
</ion-view>
