<!--
  This template loads for the 'profile' state (app.js)
  Show user profile
  user is a $scope variable in ProfileCtrl (controllers.js)
-->
<ion-view view-title="{{ user.name }}">
  <ion-content>
    <!--Profile picture-->
    <div class="text-center user-profile dark-bg">

      <img class="profile-picture circle" menu-close="" src="{{ user.profile_picture }}">
    </div>

    <!--Edit profile setting-->
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label balanced">Nome</span>
        <input type="text" required ng-model="user.name">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label balanced">Celular</span>
        <input type="text" required ng-model="user.phone">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label balanced">Email (opcional)</span>
        <input type="text" ng-model="user.email">
      </label>
    </div>

    <!--Action buttons-->
    <div class="padding">
      <button class="button button-block facebook-color light">CONECTAR COM FACEBOOK</button>
      <div class="text-center assertive">Quero excluir minha conta</div>
    </div>
  </ion-content>
</ion-view>
